{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center">
        <payment-search>
            <template slot="searchFields">
                {% for field, val in fields %}
                    <option value="{{ field }}">{{ field }}</option>
                {% endfor %}
            </template>
        </payment-search>
        {% for id, payment in payments %}
            <h3>Record {{ payment.recordId }}</h3>
            <table>
                {% for field, val in fields %}
                    <tr>
                        <td class="fieldCol">
                            {{ field }}
                        </td>
                        <td class="valCol">
                            {{ attribute(payment, field) }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock %}