{% extends 'base.html.twig' %}
{% block body %}
    <div class="text-center center">
        <div>
            <payment-search
                    value="{{ searchValue }}"
                    field="{{ searchField }}">
                <template slot="searchFields">
                    {% for field, display in fields %}
                        <option
                                {% if field == searchField %}
                                    selected
                                {% endif %}
                                value="{{ field }}">
                            {{ field }}
                        </option>
                    {% endfor %}
                </template>
            </payment-search>
        </div>
        <div>
            <search-exporter
                    value="{{ searchValue }}"
                    field="{{ searchField }}">
            </search-exporter>
        </div>
        <div class="center">
            <pagination
                    total-pages={{ totalPages }}
                    page={{ page }}
                    base-url="/?searchField={{ searchField }}&searchValue={{ searchValue }}">
            </pagination>
        </div>
        {% for id, payment in payments %}
            <h3>Record {{ payment.recordId }}</h3>
            <table>
                {% for field, display in fields %}
                    {% if attribute(payment, field) is not null %}
                        <tr>
                            <td class="fieldCol">
                                {{ display }}
                            </td>
                            <td class="valCol">
                                {{ attribute(payment, field) }}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endfor %}
    </div>
{% endblock %}